# ML models (VERY IMPORTANT - large files)
backend/emotion_model*/
backend/emotion_model_improved*/
backend/emotion_model_roberta*/
backend/emotion_model_roberta_*/

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store

# Databases
*.db